<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Digital"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99">
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS5"
		gamePrice="R$ 265,00">
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS5"
		gamePrice="R$ 265,00">
	</app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS5"
		gamePrice="R$ 265,00">
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS5"
		gamePrice="R$ 265,00">
	</app-card>
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Digital"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99">
	</app-card>
</div>
