.menu-bar__container{
	display: flex;
	flex-direction: row;
	position: fixed;
	z-index: 999;
	background-color: #fff;
	width: 100%;
	min-height: 40px;
	box-shadow: 0 6px 0px rgba(0,0,0,.5);
	justify-content: space-between;
  align-items: center;
}
.menu-bar__logo{
	margin-left: 30px;
	display: flex;
	align-items: center;
}
